@import '../../assets/stylesheets/colorset'
@import '../../assets/screen-spec'

._
    height 100%
    align-items center
    justify-content center
    padding 6%
    // background-color $orange60

.title
    // position absolute
    // top 20%
    font-size (88px/d)
    margin-bottom (160px/d)

.input
    width 100%
    height (120px/d)
    border 1px solid $black60
    border-radius (16px/d)
    margin-bottom (72px/d)

.button
    width 100%
    height (120px/d)
    // margin-top (120/d)

.hyperlink__signup
    margin (72px/d) 0px
    margin-right auto
    text-decoration-line underline
    color $black60