/*
    设备：mi-max2
*/
dpi = 2.75    // Dots Per Inch
d   = 2.75    // Dots Per Inch (alias)
hpx = 1920    // height in pixels
wpx = 1080    // width in pixels
hdp = hpx/dpi    // height in dp
wdp = wpx/dpi    // width in dp
