@import '../../assets/stylesheets/colorset'
@import '../../assets/screen-spec'

.item_title
    color $black60
    background-color $black05
    padding (8px/d)

.item
    // border-bottom-width (4px/d)